@charset "UTF-8";
body {
	font-size: 90%;
	background-color: #DCDCDC;
}
h1 {
	font-size: 1.5;
	color: #003366;
	background-color: #F5F5F5;
	padding: 10px 35px 5px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin: 30px 20px;
}
p {
	line-height: 1.6;
	background-color: white;
	padding: 30px;
	border: 1px solid #000000;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 20px;
}
