@charset "UTF-8";
body {
	font-size: 90%;
	line-height: 140%;
}
h1 {
	font-size: 120%;
	background-color: #F5EFEB;
	color: #CC6600;
	width: 650px;
	border: 1px solid #000000;
	padding: 5px 35px 5px 5px;
	margin: 0px 0px 10px 0px;
}
p {
	width: 690px;
}
img {
	float:right;
}
ul {
	list-style-image: url(img/mark.gif);
}
