@charset "UTF-8";

/* ボディに関するCSS
--------------------------------------------------------------------------------*/
	body {
	font-family: "ＭＳ Ｐゴシック", "Osaka", sans-serif;
	color: #666;
	font-size: 80%;
	line-height: 160%;
}

/* ページ構造に関するCSS 
--------------------------------------------------------------------------------*/
#header {
	width: 700px;
	margin-bottom: 10px;
}

#nav  {
	width: 686px;
	border: 1px solid #999;
	background-color: #FAFAFA;
	padding: 1px 1px 1px 11px;
}

#content {
	clear:left;
	width: 658px;
	border: 1px solid #999;
	background-color: #FFF;
	padding: 20px;
	margin-top: 5px;
}

#col1 {

}

#sidebar {

}

/* ヘッダーに関するCSS
--------------------------------------------------------------------------------*/
h1{
	padding: 0px;
	margin: 0px;
}

/* ナビゲーションに関するCSS 
--------------------------------------------------------------------------------*/
span {
	font-weight: bold;
}

/* contentに関するCSS 
--------------------------------------------------------------------------------*/
img.topkey {
	margin-bottom: 15px;
}

/* col1に関するCSS 
--------------------------------------------------------------------------------*/
h2 {
	margin: 0px;
}

h3 {
	font-size: 110%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	padding-top: 5px;
	text-indent: 5px;
	margin-bottom: 10px;
	margin-top: 0px;
}

p {
	margin-top: 0px;
}

img.thumb {
	float: left;
	margin-right: 10px;
}

	.mail{
	margin-top: 10px;
 clear: both
}

/* sidebarに関するCSS 
--------------------------------------------------------------------------------*/
h4 {
	font-size: 100%;
	margin-bottom: 3px;
}

#sidebar p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.line {
	width: 100%;
	background-image: url(img/dotline_s.gif);
	background-repeat: repeat-x;
	margin-top: 10px;
	margin-bottom: 10px;
	height:1px;
	}


/* フッターに関するCSS
--------------------------------------------------------------------------------*/
#credit {
	margin-top: 5px;
}


/* リンクに関するCSS
--------------------------------------------------------------------------------*/

a:link {text-decoration:none}

a:visited {text-decoration:none}

a:hover {text-decoration:underline}
