@charset "UTF-8";

/* ボディに関するCSS
--------------------------------------------------------------------------------*/
	body {
	font-family: "ＭＳ Ｐゴシック", "Osaka", sans-serif;
	color: #666;
	font-size: 80%;
	line-height: 160%;
}

/* ページ構造に関するCSS 
--------------------------------------------------------------------------------*/
#header {
	width: 700px;
	margin-bottom: 10px;
}

#nav {
	line-height: 170%;
	margin:5px 0px;
	padding:0px;
	list-style:none;	
	float:left;	
}

#content {
	clear:left;
	width: 658px;
	border: 1px solid #999;
	background-color: #FFF;
	padding: 20px;
	margin-top: 5px;

}

#col1 {
	width:423px;
 margin-right: 15px;
}

#sidebar {
	width: 190px;
	padding: 7px 15px 15px;
	background-image: url(img/bck_top_news.gif);
	position: absolute;
	top: 300px;
	left: 467px;
	height: 600px;
	overflow: scroll;
}

/* ヘッダーに関するCSS
--------------------------------------------------------------------------------*/
h1{
	padding: 0px;
	margin: 0px;
}

/* ナビゲーションに関するCSS 
--------------------------------------------------------------------------------*/
#nav li {
	float:left;
	background-color: #FAFAFA;
	margin-right: 5px;
	margin-left: 0px;
	border: 1px solid #000;
	text-align: center;
	width: 118px;
	height:22px;
}

#nav a{
	color: #000;
	display:block;
	width: 118px;
	height:22px;
}

#nav a:hover {
	color: #FFF;
	background-color: #666;
	text-decoration:none;
}

/* contentに関するCSS 
--------------------------------------------------------------------------------*/
img.topkey {
	margin-bottom: 15px;
}

/* col1に関するCSS 
--------------------------------------------------------------------------------*/
h2 {
	margin: 0px;
}

h3 {
	font-size: 110%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	padding-top: 5px;
	text-indent: 5px;
	margin-bottom: 10px;
	margin-top: 0px;
}

p {
	margin-top: 0px;
}

.mail{
	margin-top: 10px;
 clear: both
}

/* sidebarに関するCSS 
--------------------------------------------------------------------------------*/
h4 {
	font-size: 100%;
	margin-bottom: 3px;
}

#sidebar p {
	margin-top: 0px;
}

/* フッターに関するCSS
--------------------------------------------------------------------------------*/
#credit {
	margin-top: 5px;
}

/* リンクに関するCSS
--------------------------------------------------------------------------------*/

a:link {text-decoration:none}

a:visited {text-decoration:none}

a:hover {text-decoration:underline}
