@charset "UTF-8";
body {
	font-family: "ＭＳ Ｐゴシック", "Osaka", sans-serif;
	width: 658px;
	font-size: 80%;
	line-height: 150%;
}

h1 {
	font-size: 150%;
	margin-bottom: 10px;	
}

h3 {
	font-size: 110%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-bottom: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	padding-top: 5px;
	text-indent: 5px;
}

div  {
	width: 644px;
	border: 1px solid #999;
	background-color: #FAFAFA;
	padding: 1px 1px 1px 11px;
}

span {
	font-weight: bold;
}

table {width: 600px; border: 1px solid #666;

	}

td {padding: 2px; background-color: #F2F2F2; border: 1px solid #666;

}

th {padding: 2px; width: 80px; background-color: #D7D7D7; border: 1px solid #666;

}
