@charset "UTF-8";
body {
	font-size: 14px;
	line-height: 150%;
	padding: 5px 30px;
}
h1 {
	font-size: 22px;
	margin-bottom: 1px;
}
h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 24px;
	padding-left: 5px;
	font-size: 15px;
	line-height: 180%;
	font-weight: bold;
	  background-image: url(img/sttl_bar.gif);
	  background-repeat: repeat-x;
}
img {
	border: none;
}
hr {
	height: 1px;
}
